{% extends 'main/main.html' %}
{% load static %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
{% endblock %}

{% block 'body' %}
<div style="margin-top: 5rem;" class="container">
    <div style="width: 34.5rem; margin-left: -0.7rem;" class="header-bar">
        <h1>CADASTRO</h1>
        <hr style="border-color: #7E7B7C">
    </div>
                    
    <div class="card-body">
        <form action="{% url 'cadastro' %}" method="POST">
            {% csrf_token %} 
            <label>Username:</label> 
            <input type="text" class="form-control" placeholder="Username..." name="username">
            <br>
            <label>E-mail:</label>
            <input type="email" class="form-control" placeholder="E-mail..." name="email">
            <br>
    
            <label>Senha:</label>
            <input type="password" class="form-control" placeholder="Senha..." name="senha">

            <label>Confirmar senha:</label>
            <input type="password" class="form-control" placeholder="Confirmar senha..." name="confirmar_senha">
               
            </div>
            <input  style="margin-left: 1.2rem;" class="button" type="submit" value="CADASTRAR" class="btn-principal">
            
            <a href="{% url 'login' %}" class="link">Já possuo uma conta</a>
            <br>
            <br>
          
        </form>
    </div>
</div>        

{% endblock %}