.header-bar{
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(90deg, #62c6df 0%, #3da1e4 43%, #4376e6 100%);
    
}

.card-body {
    padding: 20px;
}

.container{
    max-width: 550px;
    
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
    box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
}

input[type=text],
input[type=email],
input[type=password],
textarea {
    border: 1px solid #757575;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
}

label{
    padding-top: 10px !important;
    display: block;
}

.button{
    border: 1px solid #757575;
    background-color: #FFF;
    color: #62c6df;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}