.conteudo{
    display: grid;
    grid-template-columns: 1fr 2fr;
  
    
 }
 
.cardy-body{
     padding: 5px;  
     max-width: 500px;
     margin-left: 5rem;
     margin-top: 3rem;
     background-color: #f8f8f8;
     -webkit-box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
     box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
     max-height: 30rem; 
     
}
 
input[type=text],
textarea{
     border: 1px solid #757575;
     border-radius: 5px;
     padding: 10px;
     width: 90%;
     height: 10%;
     
 }
 
label{
     padding-top: 10px !important;
     display: block;
     font-size: larger;
 }
 
::placeholder{
     font-weight: 300;
     opacity: 0.5;
 }
 
.button{
     border: 1px solid #757575;
     background-color: #FFF;
     color: #62c6df;
     padding: 10px;
     font-size: 14px;
     border-radius: 5px;
     cursor: pointer;
     text-decoration: none;
}