#sidebar-header{
    padding-left: 6rem;
    width:23rem;
    opacity:10;
    display:flex;
    align-items:center;
    color: #fff;
    border-top-right-radius: 2rem;

    padding-top: 1rem;
    padding-bottom: 1rem; 
    background-color: #020202;
}
    
.items{
    margin-left: 6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sidebar{
    background-color: #6ecfe7;
    width:23rem;
    max-height: 30rem;
    color: #fff;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    margin-top: 2.7rem;
}

